/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        mo_tog: mo_tog {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&tog>;

            label = "MO_TOG";
            quick-tap-ms = <125>;
        };

        mo_sk: mo_sk {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&sk>;

            label = "MO_SK";
            quick-tap-ms = <125>;
        };

        SlAdTogNum: SlAdTogNum {
            compatible = "zmk,behavior-tap-dance";
            label = "SLADTOGNUM";
            #binding-cells = <0>;
            bindings = <&sl 5>, <&tog 4>;
        };

        langcaps: langcaps {
            compatible = "zmk,behavior-tap-dance";
            label = "LANGCAPS";
            #binding-cells = <0>;
            bindings = <&lang_lx>, <&caps_word>;
        };

        hmr: hmr {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29>;
        };

        hml: hml {
            compatible = "zmk,behavior-hold-tap";
            label = "HML";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35>;
        };

        slsh_thah: slsh_thah {
            compatible = "zmk,behavior-mod-morph";
            label = "SLSH_THAH";
            bindings = <&kp SLASH>, <&none>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT|MOD_LSFT)>;
        };

        quo_tah: quo_tah {
            compatible = "zmk,behavior-mod-morph";
            label = "QUO_TAH";
            bindings = <&kp SINGLE_QUOTE>, <&kp N>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
        };

        grv_thal: grv_thal {
            compatible = "zmk,behavior-mod-morph";
            label = "GRV_THAL";
            bindings = <&kp GRAVE>, <&kp Z>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
        };

        rbrkt_dal: rbrkt_dal {
            compatible = "zmk,behavior-mod-morph";
            label = "RBRKT_DAL";
            bindings = <&kp RBKT>, <&kp X>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
        };

        dot_zai: dot_zai {
            compatible = "zmk,behavior-mod-morph";
            label = "DOT_ZAI";
            bindings = <&kp DOT>, <&kp H>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
            keep-mods = <(MOD_RSFT)>;
        };

        V_raa: V_raa {
            compatible = "zmk,behavior-mod-morph";
            label = "V_RAA";
            bindings = <&kp V>, <&kp Y>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
            keep-mods = <(MOD_LSFT)>;
        };

        coma_wow: coma_wow {
            compatible = "zmk,behavior-mod-morph";
            label = "COMA_WOW";
            bindings = <&kp COMMA>, <&kp C>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        E_thaa: E_thaa {
            compatible = "zmk,behavior-mod-morph";
            label = "E_THAA";
            bindings = <&kp E>, <&kp A>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
            keep-mods = <(MOD_RSFT)>;
        };

        R_qaf: R_qaf {
            compatible = "zmk,behavior-mod-morph";
            label = "R_QAF";
            bindings = <&kp R>, <&kp S>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
            keep-mods = <(MOD_RSFT)>;
        };

        T_faa: T_faa {
            compatible = "zmk,behavior-mod-morph";
            label = "T_FAA";
            bindings = <&kp T>, <&kp E>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
            keep-mods = <(MOD_RSFT)>;
        };

        Y_ghain: Y_ghain {
            compatible = "zmk,behavior-mod-morph";
            label = "Y_GHAIN";
            bindings = <&kp Y>, <&kp R>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
            keep-mods = <(MOD_RSFT)>;
        };

        U_ain: U_ain {
            compatible = "zmk,behavior-mod-morph";
            label = "U_AIN";
            bindings = <&kp U>, <&kp X>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
            keep-mods = <(MOD_LSFT)>;
        };

        I_haa: I_haa {
            compatible = "zmk,behavior-mod-morph";
            label = "I_HAA";
            bindings = <&kp I>, <&kp GRAVE>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
            keep-mods = <(MOD_LSFT)>;
        };

        slash_qmark: slash_qmark {
            compatible = "zmk,behavior-mod-morph";
            label = "SLASH_QMARK";
            bindings = <&kp RS(L)>, <&kp QMARK>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        H_alif: H_alif {
            compatible = "zmk,behavior-mod-morph";
            label = "H_ALIF";
            bindings = <&kp H>, <&kp N>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
            keep-mods = <(MOD_LSFT)>;
        };

        G_lam: G_lam {
            compatible = "zmk,behavior-mod-morph";
            label = "G_LAM";
            bindings = <&kp G>, <&none>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT)>;
        };
    };

    macros {
        email: email {
            compatible = "zmk,behavior-macro";
            label = "EMAIL";
            #binding-cells = <0>;
            bindings = <&kp A &kp K &kp AT &kp A &kp L &kp I &kp K &kp A &kp R &kp A &kp M &kp DOT &kp C &kp O &kp M>;
        };

        speak: speak {
            compatible = "zmk,behavior-macro";
            label = "SPEAK";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp ESCAPE>,
                <&macro_release>,
                <&kp LALT>;
        };

        scr_shot: scr_shot {
            compatible = "zmk,behavior-macro";
            label = "SCR_SHOT";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_SHIFT &kp RIGHT_GUI>,
                <&macro_tap>,
                <&kp N5>,
                <&macro_release>,
                <&kp LEFT_SHIFT &kp RIGHT_GUI>;
        };

        arabic_mac: arabic_mac {
            compatible = "zmk,behavior-macro";
            label = "ARABIC_MAC";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_CONTROL>,
                <&macro_tap>,
                <&kp SPACE>,
                <&macro_wait_time 1000>,
                <&macro_release>,
                <&kp LEFT_CONTROL>,
                <&macro_tap>,
                <&tog 1>;
        };

        lang_lx: lang_lx {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RG(SPACE)>, <&macro_wait_time 500>, <&tog 2>;

            label = "LANG_LX";
        };

        mc_bt0: mc_bt0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&rgb_ug RGB_TOG>,
                <&macro_wait_time 500>,
                <&bt BT_SEL 0>,
                <&macro_wait_time 500>,
                <&rgb_ug RGB_TOG>;

            label = "MC_BT0";
        };

        mc_bt1: mc_bt1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&rgb_ug RGB_TOG>,
                <&macro_wait_time 500>,
                <&bt BT_SEL 1>,
                <&macro_wait_time 500>,
                <&rgb_ug RGB_TOG>;

            label = "MC_BT1";
        };

        mc_bt2: mc_bt2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&rgb_ug RGB_TOG>,
                <&macro_wait_time 500>,
                <&bt BT_SEL 2>,
                <&macro_wait_time 500>,
                <&rgb_ug RGB_TOG>;

            label = "MC_BT2";
        };

        mc_bt3: mc_bt3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&rgb_ug RGB_TOG>,
                <&macro_wait_time 500>,
                <&bt BT_SEL 3>,
                <&macro_wait_time 500>,
                <&rgb_ug RGB_TOG>;

            label = "MC_BT3";
        };

        mc_bt4: mc_bt4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&rgb_ug RGB_TOG>,
                <&macro_wait_time 500>,
                <&bt BT_SEL 4>,
                <&macro_wait_time 500>,
                <&rgb_ug RGB_TOG>;

            label = "MC_BT4";
        };
    };

    combos {
        compatible = "zmk,combos";

        tog5_combo {
            bindings = <&tog 1>;
            key-positions = <40 36>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  F  |  P  |  B  |   |  J  |  L   |  U  |  Y  |  ;  |   BKSP    |
            // | CTRL |  A  |  R  |  S  |  T  |  G  |   |  M  |  N   |  E  |  I  |  O  |    '      |
            // | SHFT |  Z  |  X  |  C  |  D  |  V  |   |  K  |  H   |  ,  |  .  |  /  | SHFT(RET) |
            //                         | ALT | LWR | SPC | RSE  | ALT |

            bindings = <
&kp BACKSPACE  &kp Q        &kp W        &kp F         &kp P            &kp B             &kp J  &kp L           &kp U         &kp Y        &kp SEMI     &kp SQT
&kp ESC        &hml LGUI A  &hml LALT R  &hml LCTRL S  &hml LSHFT T     &kp G             &kp M  &hmr RSHIFT N   &hmr RCTRL E  &hmr RALT I  &hmr RGUI O  &kp RC(BACKSPACE)
&kp TAB        &kp Z        &kp X        &kp C         &kp D            &kp V             &kp K  &kp H           &kp COMMA     &kp DOT      &kp FSLH     &kp ENTER
                                         &SlAdTogNum   &mo_sk 4 LSHIFT         &kp SPACE         &mo_sk 3 RSHFT  &mo 7
            >;

            label = "Default";
        };

        arabic_layer {
            bindings = <
&kp Q   &kp W       &kp E       &kp R        &kp T         &kp Y             &kp U  &kp I         &kp O        &kp P       &kp LEFT_BRACKET  &kp RIGHT_BRACKET
&trans  &hm LGUI A  &hm LALT S  &hm LCTRL D  &hm LSHIFT F  &kp G             &kp H  &hm RSHIFT J  &hm RCTRL K  &hm RALT L  &hm RGUI SEMI     &trans
&trans  &kp Z       &kp X       &kp C        &kp V         &kp B             &kp N  &kp M         &kp COMMA    &kp DOT     &kp FSLH          &trans
                                &trans       &trans               &kp SPACE         &trans        &trans
            >;

            label = "Arabic";
        };

        arabic_mac {
            bindings = <
&kp Q   &kp W        &E_thaa      &R_qaf        &T_faa        &Y_ghain          &U_ain   &I_haa        &kp O         &kp P         &kp LBKT        &kp M
&trans  &hml LGUI A  &hml LALT S  &hml LCTRL D  &hml LSHFT F  &G_lam            &H_alif  &hmr RSHFT J  &hmr RCTRL K  &hmr RCTRL L  &hmr RGUI SEMI  &trans
&trans  &slsh_thah   &quo_tah     &grv_thal     &rbrkt_dal    &dot_zai          &V_raa   &coma_wow     &kp RS(K)     &kp RS(DOT)   &slash_qmark    &trans
                                  &trans        &trans                  &trans           &trans        &trans
            >;
        };

        raise_layer {
            // --------------------------------------------------------------------------------------------
            // |    |  1  |  2  |  3  |  4  |  5  |   |        |   7   |   UP    |   9    |   0   |  DEL  |
            // |    |  -  |  =  |  [  |  ]  |  \  |   |  HOME  |  LFT  |   DWN   |  RGT   |  END  |  F6   |
            // |    | ESC | GUI | ALT | CAPS|  "  |   |        | VOLUP |  VOLDN  |  MUTE  |       |       |
            //                       |     | ADJ | BKSP |    |     |

            bindings = <
&none   &email    &none           &kp LEFT_BRACE               &kp RIGHT_BRACE               &kp GRAVE            &speak       &scr_shot     &kp UP        &none       &kp PAGE_UP    &kp DEL
&trans  &kp LGUI  &kp LALT        &hml LCTRL LEFT_PARENTHESIS  &hml LSHFT RIGHT_PARENTHESIS  &kp BSLH             &kp HOME     &kp LEFT      &kp DOWN      &kp RIGHT   &kp END        &kp RA(BACKSPACE)
&trans  &none     &kp C_AC_PRINT  &kp LEFT_BRACKET             &kp RIGHT_BRACKET             &kp TILDE            &arabic_mac  &kp C_VOL_DN  &kp C_VOL_UP  &kp C_MUTE  &kp PAGE_DOWN  &none
                                  &trans                       &trans                                   &kp BSPC               &trans        &trans
            >;

            label = "Raise";
        };

        lower_layer {
            // ------------------------------------------------------------------------------------
            // |    |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  |      DEL    |
            // |    |  _  |  +  |  {  |  }  | "|" |   | LFT | DWN |  UP | RGT |  `  |       ~     |
            // |    | ESC | GUI | ALT | CAPS|  "  |   | HOME| END | PGUP| PGDN| PRSC| SHFT(SPACE) |
            //                       |     |     | RET | ADJ |     |

            bindings = <
&trans  &kp EXCL         &kp AT          &kp HASH          &kp DLLR                  &kp PRCNT             &kp SLASH  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp MINUS  &kp EQUAL
&trans  &hml LGUI CARET  &hml LALT AMPS  &hml LCTRL COLON  &hml LSHFT DOUBLE_QUOTES  &kp PIPE              &kp ASTRK  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp PLUS   &trans
&trans  &mo 5            &mo 6           &none             &caps_word                &kp CAPS              &kp UNDER  &kp N1        &kp NUMBER_2  &kp NUMBER_3  &none      &trans
                                         &trans            &trans                               &kp SPACE             &kp NUMBER_0  &kp DOT
            >;

            label = "Lower";
        };

        adjust_layer {
            // ---------------------------------------------------------------------------------------------------------
            // | RGB BRI+ | RGB SAT+ | RGB HUE+ | RGB ANI+ |    | RGB TOG |   |  BT1  | BT2 | BT3 | BT4 | BT5 | BT CLR |
            // | RGB BRI- | RGB SAT- | RGB HUE- | RGB ANI- |    |         |   |       |     |     |     |     |        |
            // |          |          |          |          |    |         |   |       |     |     |     |     |        |
            //                                           |     |     |     |     |     |

            bindings = <
&rgb_ug RGB_BRI  &rgb_ug RGB_SAI  &rgb_ug RGB_HUI  &rgb_ug RGB_EFF  &none   &rgb_ug RGB_TOG         &mc_bt0  &mc_bt1           &mc_bt2            &mc_bt3    &mc_bt4  &bt BT_CLR
&rgb_ug RGB_BRD  &rgb_ug RGB_SAD  &rgb_ug RGB_HUD  &rgb_ug RGB_EFR  &none   &none                   &none    &ext_power EP_ON  &ext_power EP_OFF  &soft_off  &none    &none
&none            &mo 5            &none            &none            &none   &none                   &none    &none             &none              &none      &none    &none
                                                   &trans           &trans                   &none           &trans            &trans
            >;

            label = "Adjust";
        };

        function_layer {
            // ---------------------------------------------------------------------------------------------------------
            // |  | F1 | F2  | F3  |  F4   |     |          |     |     |   |   |   |   |
            // |  | F5 | F6  | F7  |  F8   |     |          |     |     |   |   |   |   |
            // |  | F9 | F10 | F11 |  F12  |     |          |     |     |   |   |   |   |
            //                     |       |     |          |     |     |

            bindings = <
&none  &none  &none  &none   &none   &none         &none   &kp F9  &kp F10  &kp F11  &kp F12  &none
&none  &none  &none  &none   &none   &none         &none   &kp F5  &kp F6   &kp F7   &kp F8   &none
&none  &none  &mo 6  &none   &none   &none         &trans  &kp F1  &kp F2   &kp F3   &kp F4   &none
                     &trans  &trans         &none          &trans  &trans
            >;

            label = "Function";
        };

        layer_7 {
            bindings = <
&none  &none  &kp LCTRL  &mkp MCLK  &kp LSHFT  &none         &none           &msc SCRL_UP    &mmv MOVE_UP    &none            &none            &none
&none  &none  &none      &mkp LCLK  &mkp RCLK  &none         &msc SCRL_LEFT  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &msc SCRL_RIGHT  &none
&none  &none  &none      &none      &none      &none         &none           &msc SCRL_DOWN  &none           &none            &none            &none
                         &none      &none             &none                  &none           &none
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        L4_L5 {
            if-layers = <5 4>;
            then-layer = <5>;
        };

        L4_L6 {
            if-layers = <4 6>;
            then-layer = <6>;
        };
    };
};
